bin/
build/
node_modules/
dist/
data/
*.db
*.db-wal
*.db-shm
webadmin/node_modules/
!webadmin/dist/index.html
webadmin/dist/
*.log
.DS_Store
picoaide-data/
.picoaide-data/
.worktrees/
dev-data
webadmin/node_modules
